<?xml version="1.0"?>
<config>
  <sections>
    <somethingdigital_applycoupon translate="label">
      <label>Auto Apply Coupon Code</label>
      <tab>general</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <settings translate="label">
          <label>Auto Apply Coupon Code Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <success_message translate="label">
              <label>Success Message</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </success_message>
          </fields>
        </settings>
      </groups>
    </somethingdigital_applycoupon>
  </sections>
</config>
